.name{
    text-shadow: 2px 2px #d30;
}
.occ{
    font-family: Calligraffitti;
    color: aqua;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.desc{
    padding: 2px 16px;
    display: block;
    margin: 20px;
    border-left: 8px solid aqua;
}
.desc:hover{
    border-left: 8px solid #D30;
}